/* GENERAL */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Fredoka', sans-serif;
}

.container{
  width: 80%;
  max-width: 1700px;
  margin: 0 auto;
}

.debug{
  background-color: rgba(250, 235, 215, 0.363);
  border: 1px solid black;
}

.clearfix{
  content: '';
  display: table;
  clear: both;
}

/* HEADER */
header h1{
  font-weight: 600;
  color: #e53170;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

/* MAIN */
main p{
  text-align: center;
  padding-bottom: 40px;
}

/* SECTION */
section .col{
  float: left;
  background-color: #0f0e17;
  width: calc(100% / 3 - 26.7px);

}

section img{
  height: 120px;
  vertical-align: middle;
  float: left;
  padding-right: 20px;
}

section h2,
section span{
  color: white;
  padding-bottom: 5px;
  display: block;
}

section h2{
  text-transform: uppercase;
  font-size: 1.3rem;
}

section a{
  text-decoration: none;
  color: #6ecbe3;
  font-size: 1.1rem;
}

section .info{
  padding: 20px;
  height: 120px;
}

section .col.mid{
  margin-left: 40px;
  margin-right: 40px;
}